*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.overlay{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(66, 66, 66, 0.745);
}

.container{
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 80px;
    padding-bottom: 50px;
}

@media (max-width:992px ){

   .about .container{
        flex-wrap: wrap;

    }

    .about .container div{
        width: 100%;
    }
}

@media (min-width:768px ){

    .container{
        width: 750px;
    }
}

@media (min-width:992px ){

    .container{
        width: 970px;
    }
}

@media (min-width:1200px ){

    .container{
        width: 1170px;
    }
}

:root{

    --main-color:#00bdaa;
    --second-color:#f1648f;

}

::-webkit-scrollbar{

      width: 10px;
      

}

::-webkit-scrollbar-track{

     background-color: black;
    

}

::-webkit-scrollbar-thumb{

    background-color:var(--main-color);
    border-radius: 5px;

}

/* nav */

nav{
    background-color:var(--main-color);
    width: 100%;
    position: relative;
    color: white;
    word-spacing: 50px;
}

.nave{

    list-style:none;
    display: flex;
    justify-content: center;
    align-items: center;
   font-size: small;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}

.nave li{
    color:white;
    display:inline;
   
    margin:20px;
    margin-top: 0px;
} 

.nave li a{

    text-decoration:none;
    color:rgb(255, 255, 255);
    width: 400px;
    word-spacing: 50px;
    font-size: 17px;
}

.dropdown{

    z-index: 999;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30px;
    display: none;
    width: 130px;
   background-color: rgb(0, 0, 0);

}

nav .nave .page:hover .dropdown{

    display: block;
    padding: 20px 10px 10px 20px;
    text-align: center;
    

}

.active{
    background-color:var(--second-color);
   

    
}

/* header */

header{

    background-image: url(../image/header.jpeg);
    background-repeat: no-repeat;
    background-size:cover ;
    width: 100%;
    height: 100vh;
    position: relative;

}

header .text{

    position: absolute;
    top: 45%;
    left: 60%;
    transform:translate(-50%, -50%) ;

}

header .text h1
{
     color:white;
     font-size: 4em;
     font-weight: bold;
     text-align:center ;
    
}

header .text button
{
    padding: 12px 17px;
    background-color:var(--main-color);
    color: white;
    margin-top: 40px;
    left: 60%;
    border: none;
    border-radius: 5px;

}

/* box */

.sec{
    background-color: rgb(233, 233, 233);
    height: 450px;
    position: relative;
    font-family:  "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.sec .box{
    font-size: large;
    background-color: rgb(255, 255, 255);
    position: absolute;
    padding: 20px 0;
    overflow: hidden;
    top: -70px;
    box-shadow: 0 0 20px 0 ;
    color: #000;
    margin-left: 300px;
    height: 400px;
    width: 750px;
    
}

.sec .box .item{

  width: calc((100% - 8%) /2);
  text-align: center;
  height: 250px;
  float: left;
  border-radius: 10px;
  margin-bottom: -80px;
  margin-left: 2%;


}

.sec div{

    color: #07cddb;
    text-align: center;
    float: left;
    background-color: #ffffff;
    font-size: xx-large;
    margin-top: 20px;
    margin-left: 4%;
    margin-bottom:0px;
    height: 140px;
    width: calc((100% - 20%) /4);
}

h2{

    font-size: large;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    color: #000;
}

p{
    font-size: small;
    color: #a3a2a2;
    font-weight: bold;
    margin-left: 50px;
    width: 230px;
    text-align: center;
    letter-spacing: 1px;
}


 h3{

    font-size: large;
    font-weight: bold;
    margin-top: 10px;
    color: #000;
}

 h4{

    font-size: large;
    font-weight: bold;
    margin-top: 10px;
    color: #000;
}

 h5{
     margin-top: 10px;
    font-size: large;
    font-weight: bold;
    color: #000;
}

/* about */

.about .container{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.about .container div{
    width: 40%;
   
    
}

 .aboutf h3{

     color: #00bdaa;
     text-align: left;
     font-size: large;
     font-weight: bold;
     margin-left: -50px;
     margin-bottom: 10px;


}

.aboutf p{

     text-align: left;
     color: #585858;
     font-size: small;
     font-weight: bold;
     margin-left: -50px;
     width: 85%;

}

.team{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.team .cont{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    
    
    
}

 .cont .card {

    
    
    box-shadow: outset 0px 0px 25px 0px;
    background-color: #faf8f8;
    position: relative;
    text-align: center;
    box-shadow: 0 0 20px 0 black ;
    color: #03ffdd;
    font-size: large;
    width: calc((100% - 44%) /3);
    height: 340px;
    float: left;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 10%;
    
}

.ty {

    text-align: center;
    font-size: larger;
    font-weight:bold;
    margin-bottom: 30px;
}

.card h4{
    color: #0cd6dd;
}

.card p{

    margin-left: 15px;
}
.card .front , .back {

    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    backface-visibility: hidden;



}

.card .back{

    transform: rotateY(180deg);
    



}

.card:hover .back{

     transform: rotateY(360deg);
     transition: all 2s;
}

.card:hover .front{

   transform: rotateY(180deg);
   transition: all 2s;

}

 .map1{
   
    width: 1349px;
    height: 600px;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: -54px;
}

.h8{
    text-transform: uppercase;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #ffffff;
    margin-bottom: -5px;
}

.p4{
    width: 710px;
    text-align: center;
    margin: auto;
    
}
  
.my-input2{
    padding: auto;
    margin: auto;
    border: 1px solid rgb(219, 217, 217);
    border-bottom:1px solid rgb(41, 41, 41) ;
    color: rgb(88, 88, 88);
    width: 450px;
    height: 25px;
    border: none;
}

.textarea{
    width: 450px;
    height: 100px;
    border: none;
}

.button2{
    width: 450px;
    height: 40px;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 115, 0);
    border: none;
} 

.parent{
    text-align: center;
    position: relative;
    
}

.grad{
    height: 300px;
    background-image: linear-gradient(to right top, #00fff4, #00d8ff, #00abff, #0075ff, #1b12eb);
}

.grad h1{

    -webkit-text-fill-color: transparent;
    background-image: url(../image/20.jpg);
    background-clip:text;
    -webkit-background-clip: text;
    font-size: 40px;
    margin-top: 100px;
}

@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
    background-image: linear-gradient(to right top, #00fff4, #00d8ff, #00abff, #0075ff, #1b12eb);

}
.bgTop {
    z-index: 15;
    opacity: 0.5;
}
.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}
.bgBottom {
    z-index: 5;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 100px;
}
.waveAnimation .waveTop {
  animation: move-wave 3s;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}
.waveMiddle {
    background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}
.waveBottom {
    background-size: 50% 100px;
}
.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}


.whats{
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: #51fa03;
   
}

.whats i{

   font-size: 50px;
   
}
